<div class="container mt-4">
    <div class="row g-3">
      <div class="col-auto">
        <input type="text" class="form-control" id="task-input" placeholder="Task Name" [(ngModel)]="taskname">
      </div>
      <div class="col-auto">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="selected">
          <option disabled value="none">Select</option>
          <option value="Easy">Easy</option>
          <option value="Medium">Medium</option>
          <option value="Hard">Hard</option>
        </select>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-primary mb-3" (click)="createTask()">Add</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" id="border-blue">
          <h6 class="card-header d-flex align-items-center"><i class="fa-solid fa-bars-staggered me-1"></i>To-do</h6>
          <div class="card-body">
            <p class="card-text" *ngIf="this.todo.length === 0">List is empty</p>
            <div *ngIf="this.todo.length > 0">
              <div class="card mb-3" *ngFor="let task of todo; let i = index">
                <div class="card-body">
                  <p class="card-text d-flex align-items-center justify-content-between"><span>{{i + 1}}. {{task.body}}</span><span><button class="btn btn-primary me-2" (click)="toProgress(i)">></button><button class="btn btn-danger" (click)="deleteTask(i)">x</button></span></p>
                  <button type="button" [ngClass]="getItemClass(task.difficulty)" class="btn">{{task.difficulty}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" id="border-info">
          <h6 class="card-header d-flex align-items-center"><i class="fa-solid fa-bars-staggered me-1"></i>In progress</h6>
          <div class="card-body">
            <p class="card-text" *ngIf="this.progress.length === 0">List is empty</p>
            <div *ngIf="this.progress.length > 0">
              <div class="card mb-3" *ngFor="let task of progress; let i = index">
                <div class="card-body">
                  <p class="card-text d-flex align-items-center justify-content-between"><span>{{i + 1}}. {{task.body}}</span><span><button class="btn btn-primary me-2" (click)="toTodo(i)"><</button><button class="btn btn-success" (click)="toDone(i)">></button></span></p>
                  <button type="button" [ngClass]="getItemClass(task.difficulty)" class="btn">{{task.difficulty}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" id="border-success">
          <h6 class="card-header d-flex align-items-center"><i class="fa-solid fa-bars-staggered me-1"></i>Done</h6>
          <div class="card-body">
            <p class="card-text" *ngIf="this.done.length === 0">List is empty</p>
            <div *ngIf="this.done.length > 0">
              <div class="card mb-3" *ngFor="let task of done; let i = index">
                <div class="card-body">
                  <p class="card-text d-flex align-items-center justify-content-between"><span>{{i + 1}}. {{task.body}}</span><button class="btn btn-primary" (click)="toProgress2(i)"><</button></p>
                  <button type="button" [ngClass]="getItemClass(task.difficulty)" class="btn">{{task.difficulty}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
