<div class="col">
    <div class="card" id="border-success">
      <h6 class="card-header d-flex align-items-center"><i class="fa-solid fa-bars-staggered me-1"></i>Done</h6>
      <div class="card-body">
        <p class="card-text" *ngIf="doneArray.length === 0">List is empty</p>
        <div *ngIf="doneArray.length > 0">
          <div class="card mb-3" *ngFor="let task of doneArray; let i = index">
            <div class="card-body">
              <p class="card-text d-flex align-items-center justify-content-between"><span>{{i + 1}}. {{task.body}}</span><button class="btn btn-primary" (click)="addingBack(i)"><</button></p>
              <button type="button" [ngClass]="addingColor(task.difficulty)" class="btn">{{task.difficulty}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
